@font-face {
  font-family: 'remixicon';
src: url('/src/assets/fonts/remixicon.woff2') format('woff2'),
     url('/src/assets/fonts/remixicon.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aquí debes incluir las reglas que asignan el contenido de cada icono */
.ri-map-pin-line::before {
  content: "\e900";
}

.ri-map-pin-line::before {
  content: "\e900";
}
.ri-map-pin-fill::before {
  content: "\e901";
}

/* ... y todas las demás clases que Remix Icon usa */
